.ng1-ux-select-comp {
  position: relative;
}
.ng1-ux-select-comp .dropdown-menu {
  width: 100%;
  max-height: 30rem;
  overflow: auto;
}
.ng1-ux-select-comp .dropdown-menu li a {
  cursor: pointer;
}
.ng1-ux-select-comp .dropdown-menu li a,
.ng1-ux-select-comp .dropdown-menu li div {
/*overflow: hidden*/
/*text-overflow: ellipsis*/
/*width: 100%*/
  white-space: normal;
}
